*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border-size{
    border-left: 2px solid #0dcef1;
    border-bottom: 2px solid #0dcef1;
    border-radius: 13px;

    
}
.size{
    color: rgb(11, 27, 37);
    font-weight: 600;
}
#spiner{
    display: none;
}